---
import Hero2 from '~/components/widgets/Hero2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'About',
};
---

<Layout metadata={metadata}>
  <!-- Content Widget **************** -->

  <Content
    title="About DevOptimus.com"
    items={[
      {
        title: 'DevOps:',
        description: `DevOps is a term whose meaning has been transforming since its inception. As a technologist and activist for optimizing people, process, and tools; my multi-decade career has formed an ideology that has distilled into what I believe to be the true meaning of the DevOps movement. I've coined the term True DevOps to describe the representation of an organization of individuals in such a way that aligns their incentives to achieve a common goal. Typically this is to release software product value, but it can really be applied to any facet of life.`,
      },
      {
        title: 'Advantage:',
        description: `The true value of this ideology is that it capitalizes on the strengths of the individuals whilst nurturing their weaknesses through those same strengths by communal edification. In other words, each individual is encouraged to use their strengths to build up and strengthen the weaknesses of others. At the same time accepting the same from others in their community to build up and stregthen their own weaknesses. It is a no-strings-attached, give and take of talent and insight, all for the good of the common goal.`,
      },
      {
        title: 'Purpose:',
        description: `In concept and theory, this idealogy sounds legitimately superior and a no-brainer to seek out. However, in practice it is rarely simple to implement. As such, the aritcles here are a combination of my own experiences with establishing the typical automation and infrastructure/development experience optimization feats desired in the realm of DevOps, as well as my observations, analysis, and insight on the abundance and/or the lack of evidence of True DevOps in the world around me.`,
      },
      {
        title: 'Hope:',
        description: `It is my hope to highlight areas where we can improve; praise evidences of True DevOps as they shine through; and evoke the curious technologist to explore this ideology with a mind and heart of wonder and a lean toward action, so that we can defend the galaxy from the dark forces that loom in the shadows.`,
      },
    ]}
    image={{
      src: '~/assets/images/hero-about2.png',
      alt: 'About Hero Image',
      height: 1000,
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        True DevOps: <br /><span class="text-2xl">Aligned Incentives For a Common Goal</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Fiction meets Reality"
    image={{
      src: '~/assets/images/hero-about.png',
      alt: 'Cybertronian Landscape',
    }}
  >
    <Fragment slot="title">
      Inspiration from the <span class="text-blue-600 dark:text-blue-400">Transformers</span> Universe
    </Fragment>

    <Fragment slot="subtitle">
      Growing up in the heyday of the Transformers franchise, it's an easy parallel for me to draw between the Autobots'
      mission to protect and serve the universe, and my own mission to protect and serve through the optimization of
      technology.<br /><br />
      Optimus Prime and his relentless pursuit to bring alignment to two vastly different worlds for a common goal, is the
      perfect analogy for my own pursuit in the world of DevOps.
    </Fragment>
  </Hero2>
</Layout>
