---
import Layout from '~/layouts/LandingLayout.astro';

import Hero2L from '~/components/widgets/Hero2Landing.astro';
import Starfield from '~/components/starfield.astro';

const metadata = {
  title: 'DevOptimus.com — Transform and roll out',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Starfield />
  <Hero2L
    tagline='DevOps <br> Transformation <br><br> <span class="text-blue-400">More Than Meets the Eye</span> <br>'
    title='<span class="text-red-900">DevOptimus.com</span>'
    subtitle='<span class="text-blue-900">Autobots... Transform, and </span>'
    actions={[{ variant: 'primary', text: 'ROLL Out!', href: '/blog', icon: 'tabler:truck-delivery' }]}
  />
</Layout>
