---
export interface Props {
  isDark?: boolean;
}

const { isDark = false } = Astro.props;
---

<div class="space-canvas">
  <slot />
</div>


<style>
  .space-canvas {
    width: 100vw;
    height: 100vh;
    margin:0;
    background: black;
    overflow: hidden;
    z-index: -1; /* Place behind other content */
  }
</style>